html,
* {
  box-sizing: border-box;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Gothic A1", sans-serif;
}
